* {
  box-sizing: border-box;
}

.container_component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 500px;
  max-height: 500px;
  border: 1px solid black;
  border-radius: 10px;
}


.titulo {
  text-align: center;
}

.container_total {
  position: relative;
  left: 110px;
}

.container_result {
  position: relative;
  left: 110px;
}

.btn {}